{% extends "base.html" %}

{% block container %}

<script>

function createTableCell(text) {
    var cell = document.createElement('td');
    var cellText = document.createElement('span');
    cellText.innerText = text;
    cell.appendChild(cellText);

    return cell
}

const baseUrl = "http://127.0.0.1:5000/";

function submitAuthor() {

    var input = document.getElementById('authorInput');
    var tbody = document.getElementById("bookTableBody")

    tbody.innerHTML = "";

    var selection;

    const url = baseUrl + 'writings?filter=' + input.value;
    fetch(url)
        .then(response => {
            if(response.ok) {
                return response.json();
            }
            else {
                return [];
            }
        })
        .then(selection => {
            selection.forEach(book => {
                var row = document.createElement("tr");
                row.appendChild(createTableCell(book.Author));
                row.appendChild(createTableCell(book.Writing));
                row.appendChild(createTableCell(book.katakana_romaji));
                row.appendChild(createTableCell(book.romaji_kanji));
                row.appendChild(createTableCell(book.kanji_katakana));

                tbody.appendChild(row);
            });
        })
}

    </script>

  </head>
  <body>
    <h1>Database</h1>
    <br>
    <h3>Enter author's name and get correlations on the writing</h3>
    <br>

      <form class="form-inline my-2 my-lg-0" onsubmit="submitAuthor(); return false">
        <input class="form-control mr-sm-2" type="text" id="authorInput" placeholder="Author" aria-label="Search">
        <input class="btn btn-outline-success my-2 my-sm-0" type="submit" />
      </form>

      <div id="bookList">
          <table id="bookTable" class="table">
            <thead>
                <tr>
                  <th scope="col">Author</th>
                  <th scope="col">Writing</th>
                  <th scope="col">Katakana-Romaji</th>
                  <th scope="col">Romaji-Kanji</th>
                  <th scope="col">Kanji-Katakana</th>
                </tr>
              </thead>
              <tbody id="bookTableBody">
              </tbody>
          </table>
      </div>


{% endblock %}