{% extends "base.html" %}

{% block container %}

<script>
        const correlation = [
 {
   "Author": "Akutagawa Ryunosuke",
   "Date_of_birth": 1892,
   "Date_of_death": 1927,
   "Reason_of_death": "suicide",
   "Education": "Tokyo University",
   "Specialization": "English literature",
   "Writing": "Kappa",
   "Filename": "kappa.txt",
   "Year": 1927,
   "Style_1": "neorealism",
   "Main_topic": "suffering of modern intellectuals ",
   "katakana_romaji": "-0.1215474",
   "romaji_kanji": "-0.1005515",
   "kanji_katakana": "0.9179543"
 },
 {
   "Author": "Akutagawa Ryunosuke",
   "Date_of_birth": 1892,
   "Date_of_death": 1927,
   "Reason_of_death": "suicide",
   "Education": "Tokyo University",
   "Specialization": "English literature",
   "Writing": "Haguruma",
   "Filename": "haguruma.txt",
   "Year": 1927,
   "Style_1": "neorealism",
   "Main_topic": "suffering of modern intellectuals ",
   "katakana_romaji": "0.6459856",
   "romaji_kanji": "0.8086595",
   "kanji_katakana": "0.6884672"
 },
 {
   "Author": "Akutagawa Ryunosuke",
   "Date_of_birth": 1892,
   "Date_of_death": 1927,
   "Reason_of_death": "suicide",
   "Education": "Tokyo University",
   "Specialization": "English literature",
   "Writing": "Rashomon",
   "Filename": "rashomon_kyu.txt",
   "Year": 1915,
   "Style_1": "neorealism",
   "Main_topic": "suffering of modern intellectuals ",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "NA"
 },
 {
   "Author": "Akutagawa Ryunosuke",
   "Date_of_birth": 1892,
   "Date_of_death": 1927,
   "Reason_of_death": "suicide",
   "Education": "Tokyo University",
   "Specialization": "English literature",
   "Writing": "Hana",
   "Filename": "hana.txt",
   "Year": 1916,
   "Style_1": "neorealism",
   "Main_topic": "suffering of modern intellectuals ",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "NA"
 },
 {
   "Author": "Akutagawa Ryunosuke",
   "Date_of_birth": 1892,
   "Date_of_death": 1927,
   "Reason_of_death": "suicide",
   "Education": "Tokyo University",
   "Specialization": "English literature",
   "Writing": "Imogayu",
   "Filename": "imogayu.txt",
   "Year": 1916,
   "Style_1": "neorealism",
   "Main_topic": "suffering of modern intellectuals ",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "NA"
 },
 {
   "Author": "Akutagawa Ryunosuke",
   "Date_of_birth": 1892,
   "Date_of_death": 1927,
   "Reason_of_death": "suicide",
   "Education": "Tokyo University",
   "Specialization": "English literature",
   "Writing": "Hankachi",
   "Filename": "hankechi.txt",
   "Year": 1916,
   "Style_1": "neorealism",
   "Main_topic": "suffering of modern intellectuals ",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "NA"
 },
 {
   "Author": "Akutagawa Ryunosuke",
   "Date_of_birth": 1892,
   "Date_of_death": 1927,
   "Reason_of_death": "suicide",
   "Education": "Tokyo University",
   "Specialization": "English literature",
   "Writing": "Tabako to akuma",
   "Filename": "tabakoto_akuma.txt",
   "Year": 1917,
   "Style_1": "neorealism",
   "Main_topic": "suffering of modern intellectuals ",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "NA"
 },
 {
   "Author": "Akutagawa Ryunosuke",
   "Date_of_birth": 1892,
   "Date_of_death": 1927,
   "Reason_of_death": "suicide",
   "Education": "Tokyo University",
   "Specialization": "English literature",
   "Writing": "Jigokuhen",
   "Filename": "jigokuhen_shohan.txt",
   "Year": 1918,
   "Style_1": "neorealism",
   "Main_topic": "suffering of modern intellectuals ",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "NA"
 },
 {
   "Author": "Akutagawa Ryunosuke",
   "Date_of_birth": 1892,
   "Date_of_death": 1927,
   "Reason_of_death": "suicide",
   "Education": "Tokyo University",
   "Specialization": "English literature",
   "Writing": "Kumo no ito",
   "Filename": "kumono_ito.txt",
   "Year": 1918,
   "Style_1": "neorealism",
   "Main_topic": "suffering of modern intellectuals ",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "NA"
 },
 {
   "Author": "Akutagawa Ryunosuke",
   "Date_of_birth": 1892,
   "Date_of_death": 1927,
   "Reason_of_death": "suicide",
   "Education": "Tokyo University",
   "Specialization": "English literature",
   "Writing": "Chuto",
   "Filename": "chuto.txt",
   "Year": 1917,
   "Style_1": "neorealism",
   "Main_topic": "suffering of modern intellectuals ",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "NA"
 },
 {
   "Author": "Akutagawa Ryunosuke",
   "Date_of_birth": 1892,
   "Date_of_death": 1927,
   "Reason_of_death": "suicide",
   "Education": "Tokyo University",
   "Specialization": "English literature",
   "Writing": "Gesaku zanmai",
   "Filename": "gesaku_zanmai.txt",
   "Year": 1917,
   "Style_1": "neorealism",
   "Main_topic": "suffering of modern intellectuals ",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "NA"
 },
 {
   "Author": "Akutagawa Ryunosuke",
   "Date_of_birth": 1892,
   "Date_of_death": 1927,
   "Reason_of_death": "suicide",
   "Education": "Tokyo University",
   "Specialization": "English literature",
   "Writing": "Hokyonin no shi",
   "Filename": "hokyoninno_shi.txt",
   "Year": 1918,
   "Style_1": "neorealism",
   "Main_topic": "suffering of modern intellectuals ",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "NA"
 },
 {
   "Author": "Akutagawa Ryunosuke",
   "Date_of_birth": 1892,
   "Date_of_death": 1927,
   "Reason_of_death": "suicide",
   "Education": "Tokyo University",
   "Specialization": "English literature",
   "Writing": "Kare no sho",
   "Filename": "karenosho.txt",
   "Year": 1918,
   "Style_1": "neorealism",
   "Main_topic": "suffering of modern intellectuals ",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "NA"
 },
 {
   "Author": "Akutagawa Ryunosuke",
   "Date_of_birth": 1892,
   "Date_of_death": 1927,
   "Reason_of_death": "suicide",
   "Education": "Tokyo University",
   "Specialization": "English literature",
   "Writing": "Kirishitohoro shoninden",
   "Filename": "kirishitohoro_shoninden.txt",
   "Year": 1919,
   "Style_1": "neorealism",
   "Main_topic": "suffering of modern intellectuals ",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "NA"
 },
 {
   "Author": "Akutagawa Ryunosuke",
   "Date_of_birth": 1892,
   "Date_of_death": 1927,
   "Reason_of_death": "suicide",
   "Education": "Tokyo University",
   "Specialization": "English literature",
   "Writing": "Mikan",
   "Filename": "mikan.txt",
   "Year": 1919,
   "Style_1": "neorealism",
   "Main_topic": "suffering of modern intellectuals ",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "NA"
 },
 {
   "Author": "Akutagawa Ryunosuke",
   "Date_of_birth": 1892,
   "Date_of_death": 1927,
   "Reason_of_death": "suicide",
   "Education": "Tokyo University",
   "Specialization": "English literature",
   "Writing": "Butokai",
   "Filename": "butokai.txt",
   "Year": 1920,
   "Style_1": "neorealism",
   "Main_topic": "suffering of modern intellectuals ",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "NA"
 },
 {
   "Author": "Akutagawa Ryunosuke",
   "Date_of_birth": 1892,
   "Date_of_death": 1927,
   "Reason_of_death": "suicide",
   "Education": "Tokyo University",
   "Specialization": "English literature",
   "Writing": "Aki",
   "Filename": "aki.txt",
   "Year": 1920,
   "Style_1": "neorealism",
   "Main_topic": "suffering of modern intellectuals ",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "NA"
 },
 {
   "Author": "Akutagawa Ryunosuke",
   "Date_of_birth": 1892,
   "Date_of_death": 1927,
   "Reason_of_death": "suicide",
   "Education": "Tokyo University",
   "Specialization": "English literature",
   "Writing": "Toshishun",
   "Filename": "toshishun.txt",
   "Year": 1920,
   "Style_1": "neorealism",
   "Main_topic": "suffering of modern intellectuals ",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "NA"
 },
 {
   "Author": "Akutagawa Ryunosuke",
   "Date_of_birth": 1892,
   "Date_of_death": 1927,
   "Reason_of_death": "suicide",
   "Education": "Tokyo University",
   "Specialization": "English literature",
   "Writing": "Yabu no naka",
   "Filename": "yabuno_naka.txt",
   "Year": 1922,
   "Style_1": "neorealism",
   "Main_topic": "suffering of modern intellectuals ",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "NA"
 },
 {
   "Author": "Akutagawa Ryunosuke",
   "Date_of_birth": 1892,
   "Date_of_death": 1927,
   "Reason_of_death": "suicide",
   "Education": "Tokyo University",
   "Specialization": "English literature",
   "Writing": "Tokokko",
   "Filename": "torokko.txt",
   "Year": 1922,
   "Style_1": "neorealism",
   "Main_topic": "suffering of modern intellectuals ",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "NA"
 },
 {
   "Author": "Akutagawa Ryunosuke",
   "Date_of_birth": 1892,
   "Date_of_death": 1927,
   "Reason_of_death": "suicide",
   "Education": "Tokyo University",
   "Specialization": "English literature",
   "Writing": "Yasukichi no techo kara",
   "Filename": "yasukichino_techokara.txt",
   "Year": 1923,
   "Style_1": "neorealism",
   "Main_topic": "suffering of modern intellectuals ",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "NA"
 },
 {
   "Author": "Akutagawa Ryunosuke",
   "Date_of_birth": 1892,
   "Date_of_death": 1927,
   "Reason_of_death": "suicide",
   "Education": "Tokyo University",
   "Specialization": "English literature",
   "Writing": "Genkaku sanbo",
   "Filename": "genkaku_sanbo.txt",
   "Year": 1927,
   "Style_1": "neorealism",
   "Main_topic": "suffering of modern intellectuals ",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "NA"
 },
 {
   "Author": "Akutagawa Ryunosuke",
   "Date_of_birth": 1892,
   "Date_of_death": 1927,
   "Reason_of_death": "suicide",
   "Education": "Tokyo University",
   "Specialization": "English literature",
   "Writing": "Majutsu",
   "Filename": "majutsu.txt",
   "Year": 1920,
   "Style_1": "neorealism",
   "Main_topic": "suffering of modern intellectuals ",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "NA"
 },
 {
   "Author": "Arishima Takeo",
   "Date_of_birth": 1878,
   "Date_of_death": 1923,
   "Reason_of_death": "suicide",
   "Education": "Sapporo Agricultural College",
   "Specialization": "Agriculture",
   "Writing": "Kain no matsuei",
   "Filename": "kainno_matsuei.txt",
   "Year": 1917,
   "Style_1": "shirakaba",
   "Main_topic": "christianity",
   "katakana_romaji": "-0.3417338",
   "romaji_kanji": "-0.676802",
   "kanji_katakana": "0.5724554"
 },
 {
   "Author": "Arishima Takeo",
   "Date_of_birth": 1878,
   "Date_of_death": 1923,
   "Reason_of_death": "suicide",
   "Education": "Sapporo Agricultural College",
   "Specialization": "Agriculture",
   "Writing": "Umareizuru nayami",
   "Filename": "umareizuru_nayami.txt",
   "Year": 1918,
   "Style_1": "shirakaba",
   "Main_topic": "christianity",
   "katakana_romaji": "0.06751412",
   "romaji_kanji": "-0.2781271",
   "kanji_katakana": "0.5554864"
 },
 {
   "Author": "Arishima Takeo",
   "Date_of_birth": 1878,
   "Date_of_death": 1923,
   "Reason_of_death": "suicide",
   "Education": "Sapporo Agricultural College",
   "Specialization": "Agriculture",
   "Writing": "Aruonna_kohen",
   "Filename": "02aru_onna_kohen.txt",
   "Year": 1919,
   "Style_1": "shirakaba",
   "Main_topic": "christianity",
   "katakana_romaji": "0.2895439",
   "romaji_kanji": "-0.1283868",
   "kanji_katakana": "-0.1010267"
 },
 {
   "Author": "Arishima Takeo",
   "Date_of_birth": 1878,
   "Date_of_death": 1923,
   "Reason_of_death": "suicide",
   "Education": "Sapporo Agricultural College",
   "Specialization": "Agriculture",
   "Writing": "Aruonna_zenpen",
   "Filename": "01aru_onna_zenpen.txt",
   "Year": 1919,
   "Style_1": "shirakaba",
   "Main_topic": "christianity",
   "katakana_romaji": "0.4092266",
   "romaji_kanji": "0.1986317",
   "kanji_katakana": "0.430276"
 },
 {
   "Author": "Arishima Takeo",
   "Date_of_birth": 1878,
   "Date_of_death": 1923,
   "Reason_of_death": "suicide",
   "Education": "Sapporo Agricultural College",
   "Specialization": "Agriculture",
   "Writing": "Kankan mushi",
   "Filename": "kankanmusi.txt",
   "Year": 1910,
   "Style_1": "shirakaba",
   "Main_topic": "christianity",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "NA"
 },
 {
   "Author": "Arishima Takeo",
   "Date_of_birth": 1878,
   "Date_of_death": 1923,
   "Reason_of_death": "suicide",
   "Education": "Sapporo Agricultural College",
   "Specialization": "Agriculture",
   "Writing": "Chiisaki monoe",
   "Filename": "chiisaki_monoe.txt",
   "Year": 1918,
   "Style_1": "shirakaba",
   "Main_topic": "christianity",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "NA"
 },
 {
   "Author": "Futabatei Shimei",
   "Date_of_birth": 1864,
   "Date_of_death": 1909,
   "Reason_of_death": "tuberculosis",
   "Education": "Tokyo Universtiy of Foreign Studies",
   "Specialization": "Russian literature",
   "Writing": "Heibon",
   "Filename": "heibon.txt",
   "Year": 1907,
   "Style_1": "realism",
   "Main_topic": "genbun itchi",
   "katakana_romaji": "-0.12688648",
   "romaji_kanji": "0.08287419",
   "kanji_katakana": "-0.10252724"
 },
 {
   "Author": "Futabatei Shimei",
   "Date_of_birth": 1864,
   "Date_of_death": 1909,
   "Reason_of_death": "tuberculosis",
   "Education": "Tokyo Universtiy of Foreign Studies",
   "Specialization": "Russian literature",
   "Writing": "Konjiki Yasha",
   "Filename": "konjikiyasha.txt",
   "Year": 1897,
   "Style_1": "pseudoclassicism",
   "Main_topic": "genbun itchi",
   "katakana_romaji": "-0.009603426",
   "romaji_kanji": "-0.08183061",
   "kanji_katakana": "0.4019248"
 },
 {
   "Author": "Futabatei Shimei",
   "Date_of_birth": 1864,
   "Date_of_death": 1909,
   "Reason_of_death": "tuberculosis",
   "Education": "Tokyo Universtiy of Foreign Studies",
   "Specialization": "Russian literature",
   "Writing": "Ukigumo",
   "Filename": "ukigumo.txt",
   "Year": 1887,
   "Style_1": "realism",
   "Main_topic": "genbun itchi",
   "katakana_romaji": "0.216094",
   "romaji_kanji": "0.2065118",
   "kanji_katakana": "0.59471"
 },
 {
   "Author": "Higuchi Ichiyo",
   "Date_of_birth": 1872,
   "Date_of_death": 1896,
   "Reason_of_death": "tuberculosis",
   "Education": "Private School",
   "Specialization": "Japanese literature",
   "Writing": "Take kurabe",
   "Filename": "takekurabe.txt",
   "Year": 1896,
   "Style_1": "pseudoclassicism",
   "Main_topic": "life of japanese women",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "NA"
 },
 {
   "Author": "Higuchi Ichiyo",
   "Date_of_birth": 1872,
   "Date_of_death": 1896,
   "Reason_of_death": "tuberculosis",
   "Education": "Private School",
   "Specialization": "Japanese literature",
   "Writing": "Nigorie",
   "Filename": "nigorie.txt",
   "Year": 1895,
   "Style_1": "pseudoclassicism",
   "Main_topic": "life of japanese women",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "NA"
 },
 {
   "Author": "Higuchi Ichiyo",
   "Date_of_birth": 1872,
   "Date_of_death": 1896,
   "Reason_of_death": "tuberculosis",
   "Education": "Private School",
   "Specialization": "Japanese literature",
   "Writing": "Jyusan'ya",
   "Filename": "jusanya_kyuji.txt",
   "Year": 1895,
   "Style_1": "pseudoclassicism",
   "Main_topic": "life of japanese women",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "0.9169493"
 },
 {
   "Author": "Hirotsu Ryuro",
   "Date_of_birth": 1861,
   "Date_of_death": 1928,
   "Reason_of_death": "heart attack",
   "Education": "Tokyo University",
   "Specialization": "Medicine",
   "Writing": "Puratohomu",
   "Filename": "shokojo.txt",
   "Year": 1905,
   "Style_1": "romanticism",
   "Main_topic": "tragic novel",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "NA"
 },
 {
   "Author": "Izumi Kyoka",
   "Date_of_birth": 1873,
   "Date_of_death": 1939,
   "Reason_of_death": "cancer",
   "Education": "Hokuriku English-Japanese School",
   "Specialization": "English",
   "Writing": "Onna keiju",
   "Filename": "onnakeizu.txt",
   "Year": 1907,
   "Style_1": "romanticism",
   "Main_topic": "grotesque and fantastic",
   "katakana_romaji": "0.051337717",
   "romaji_kanji": "-0.003321557",
   "kanji_katakana": "0.544110237"
 },
 {
   "Author": "Izumi Kyoka",
   "Date_of_birth": 1873,
   "Date_of_death": 1939,
   "Reason_of_death": "cancer",
   "Education": "Hokuriku English-Japanese School",
   "Specialization": "English",
   "Writing": "Koya hijiri",
   "Filename": "koyahijiri.txt",
   "Year": 1900,
   "Style_1": "romanticism",
   "Main_topic": "grotesque and fantastic",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "NA"
 },
 {
   "Author": "Kikuchi Hiroshi",
   "Date_of_birth": 1888,
   "Date_of_death": 1948,
   "Reason_of_death": "heart attack",
   "Education": "Kyoto University",
   "Specialization": "English literature",
   "Writing": "Mumei sakka no nikki",
   "Filename": "mumeisakkano_nikki.txt",
   "Year": 1918,
   "Style_1": "neorealism",
   "Main_topic": "morality, money, class, and gender",
   "katakana_romaji": "-0.9449112",
   "romaji_kanji": "0.4193139",
   "kanji_katakana": "-0.6933752"
 },
 {
   "Author": "Kikuchi Hiroshi",
   "Date_of_birth": 1888,
   "Date_of_death": 1948,
   "Reason_of_death": "heart attack",
   "Education": "Kyoto University",
   "Specialization": "English literature",
   "Writing": "Shinju fujin",
   "Filename": "shinju_fujin_kyukana.txt",
   "Year": 1920,
   "Style_1": "neorealism",
   "Main_topic": "morality, money, class, and gender",
   "katakana_romaji": "-0.23813879",
   "romaji_kanji": "-0.004247598",
   "kanji_katakana": "0.332433259"
 },
 {
   "Author": "Kikuchi Hiroshi",
   "Date_of_birth": 1888,
   "Date_of_death": 1948,
   "Reason_of_death": "heart attack",
   "Education": "Kyoto University",
   "Specialization": "English literature",
   "Writing": "Tadanaokyo joki",
   "Filename": "tadanaokyo_gyojoki.txt",
   "Year": 1918,
   "Style_1": "neorealism",
   "Main_topic": "morality, money, class, and gender",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "NA"
 },
 {
   "Author": "Kikuchi Hiroshi",
   "Date_of_birth": 1888,
   "Date_of_death": 1948,
   "Reason_of_death": "heart attack",
   "Education": "Kyoto University",
   "Specialization": "English literature",
   "Writing": "Onshu no kanata ni",
   "Filename": "onshuno_kanatani.txt",
   "Year": 1919,
   "Style_1": "neorealism",
   "Main_topic": "morality, money, class, and gender",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "NA"
 },
 {
   "Author": "Koda Rohan",
   "Date_of_birth": 1867,
   "Date_of_death": 1947,
   "Reason_of_death": "heart attack",
   "Education": "Aoyama Gakuin University",
   "Specialization": "English",
   "Writing": "Gojyu-no to",
   "Filename": "gojuno_to.txt",
   "Year": 1892,
   "Style_1": "pseudoclassicism, idealism",
   "Main_topic": "idealism",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "0.1543033"
 },
 {
   "Author": "Kunikida Doppo",
   "Date_of_birth": 1871,
   "Date_of_death": 1908,
   "Reason_of_death": "tuberculosis",
   "Education": "Waseda University",
   "Specialization": "English",
   "Writing": "Musashino",
   "Filename": "musashino.txt",
   "Year": 1898,
   "Style_1": "romanticism",
   "Main_topic": "naturalism",
   "katakana_romaji": "-0.1147079",
   "romaji_kanji": "0.5",
   "kanji_katakana": "0.9176629"
 },
 {
   "Author": "Kunikida Doppo",
   "Date_of_birth": 1871,
   "Date_of_death": 1908,
   "Reason_of_death": "tuberculosis",
   "Education": "Waseda University",
   "Specialization": "English",
   "Writing": "Gyuniku to bareisho",
   "Filename": "gyunikuto_bareisho.txt",
   "Year": 1901,
   "Style_1": "romanticism",
   "Main_topic": "naturalism",
   "katakana_romaji": "-0.03394221",
   "romaji_kanji": "-0.77771377",
   "kanji_katakana": "0.6546537"
 },
 {
   "Author": "Kunikida Doppo",
   "Date_of_birth": 1871,
   "Date_of_death": 1908,
   "Reason_of_death": "tuberculosis",
   "Education": "Waseda University",
   "Specialization": "English",
   "Writing": "Sorachigawa-no kishibe",
   "Filename": "sorachigawano_kishibe.txt",
   "Year": 1902,
   "Style_1": "romanticism",
   "Main_topic": "naturalism",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "NA"
 },
 {
   "Author": "Mori Ogai",
   "Date_of_birth": 1862,
   "Date_of_death": 1922,
   "Reason_of_death": "tuberculosis",
   "Education": "Tokyo University",
   "Specialization": "Medicine, German",
   "Writing": "Seinen",
   "Filename": "seinen.txt",
   "Year": 1911,
   "Style_1": "parnassianism",
   "Main_topic": "suffering of modern intellectuals ",
   "katakana_romaji": "-0.1636067",
   "romaji_kanji": "0.2065469",
   "kanji_katakana": "0.5219282"
 },
 {
   "Author": "Mori Ogai",
   "Date_of_birth": 1862,
   "Date_of_death": 1922,
   "Reason_of_death": "tuberculosis",
   "Education": "Tokyo University",
   "Specialization": "Medicine, German",
   "Writing": "Vita sexualis",
   "Filename": "vita_sexualis.txt",
   "Year": 1909,
   "Style_1": "parnassianism",
   "Main_topic": "suffering of modern intellectuals ",
   "katakana_romaji": "-0.04836497",
   "romaji_kanji": "0.79517194",
   "kanji_katakana": "0.09816326"
 },
 {
   "Author": "Mori Ogai",
   "Date_of_birth": 1862,
   "Date_of_death": 1922,
   "Reason_of_death": "tuberculosis",
   "Education": "Tokyo University",
   "Specialization": "Medicine, German",
   "Writing": "Gan",
   "Filename": "gan.txt",
   "Year": 1911,
   "Style_1": "parnassianism",
   "Main_topic": "suffering of modern intellectuals ",
   "katakana_romaji": "0.8281622",
   "romaji_kanji": "-0.2689438",
   "kanji_katakana": "-0.143693"
 },
 {
   "Author": "Mori Ogai",
   "Date_of_birth": 1862,
   "Date_of_death": 1922,
   "Reason_of_death": "tuberculosis",
   "Education": "Tokyo University",
   "Specialization": "Medicine, German",
   "Writing": "Moso",
   "Filename": "moso.txt",
   "Year": 1911,
   "Style_1": "parnassianism",
   "Main_topic": "suffering of modern intellectuals ",
   "katakana_romaji": "0.9916557",
   "romaji_kanji": "0.3857271",
   "kanji_katakana": "0.2635702"
 },
 {
   "Author": "Mori Ogai",
   "Date_of_birth": 1862,
   "Date_of_death": 1922,
   "Reason_of_death": "tuberculosis",
   "Education": "Tokyo University",
   "Specialization": "Medicine, German",
   "Writing": "Abe ichizoku",
   "Filename": "abe_ichizoku.txt",
   "Year": 1913,
   "Style_1": "historical fiction",
   "Main_topic": "suffering of modern intellectuals ",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "NA"
 },
 {
   "Author": "Mori Ogai",
   "Date_of_birth": 1862,
   "Date_of_death": 1922,
   "Reason_of_death": "tuberculosis",
   "Education": "Tokyo University",
   "Specialization": "Medicine, German",
   "Writing": "Sansho dayu",
   "Filename": "sanshodayu.txt",
   "Year": 1915,
   "Style_1": "historical fiction",
   "Main_topic": "suffering of modern intellectuals ",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "NA"
 },
 {
   "Author": "Mori Ogai",
   "Date_of_birth": 1862,
   "Date_of_death": 1922,
   "Reason_of_death": "tuberculosis",
   "Education": "Tokyo University",
   "Specialization": "Medicine, German",
   "Writing": "Takase bune",
   "Filename": "takasebune.txt",
   "Year": 1916,
   "Style_1": "parnassionasm",
   "Main_topic": "suffering of modern intellectuals ",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "NA"
 },
 {
   "Author": "Mori Ogai",
   "Date_of_birth": 1862,
   "Date_of_death": 1922,
   "Reason_of_death": "tuberculosis",
   "Education": "Tokyo University",
   "Specialization": "Medicine, German",
   "Writing": "Shibue Chusai",
   "Filename": "shibue_chusai.txt",
   "Year": 1916,
   "Style_1": "historical fiction",
   "Main_topic": "suffering of modern intellectuals ",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "0.127915"
 },
 {
   "Author": "Mori Ogai",
   "Date_of_birth": 1862,
   "Date_of_death": 1922,
   "Reason_of_death": "tuberculosis",
   "Education": "Tokyo University",
   "Specialization": "Medicine, German",
   "Writing": "Maihime",
   "Filename": "maihime.txt",
   "Year": 1890,
   "Style_1": "romanticism",
   "Main_topic": "suffering of modern intellectuals ",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "0.1301007"
 },
 {
   "Author": "Mori Ogai",
   "Date_of_birth": 1862,
   "Date_of_death": 1922,
   "Reason_of_death": "tuberculosis",
   "Education": "Tokyo University",
   "Specialization": "Medicine, German",
   "Writing": "Utakata no ki",
   "Filename": "utakatano_ki.txt",
   "Year": 1890,
   "Style_1": "romanticism",
   "Main_topic": "suffering of modern intellectuals ",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "0.9999932"
 },
 {
   "Author": "Mori Ogai",
   "Date_of_birth": 1862,
   "Date_of_death": 1922,
   "Reason_of_death": "tuberculosis",
   "Education": "Tokyo University",
   "Specialization": "Medicine, German",
   "Writing": "Fumizukai",
   "Filename": "fumizukai.txt",
   "Year": 1891,
   "Style_1": "romanticism",
   "Main_topic": "suffering of modern intellectuals ",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "0.9895596"
 },
 {
   "Author": "Mori Ogai",
   "Date_of_birth": 1862,
   "Date_of_death": 1922,
   "Reason_of_death": "tuberculosis",
   "Education": "Tokyo University",
   "Specialization": "Medicine, German",
   "Writing": "Okitsuya Goemon no isho",
   "Filename": "okitsu_yagoemonno_isho.txt",
   "Year": 1912,
   "Style_1": "historical fiction",
   "Main_topic": "suffering of modern intellectuals ",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "NA"
 },
 {
   "Author": "Nagai Kafu",
   "Date_of_birth": 1879,
   "Date_of_death": 1959,
   "Reason_of_death": "gastric ulcer",
   "Education": "Higher Commercial School",
   "Specialization": "Chinese, French",
   "Writing": "Sumidagawa",
   "Filename": "sumidagawa.txt",
   "Year": 1909,
   "Style_1": "aestheticism",
   "Main_topic": "french literature",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "-0.03951304"
 },
 {
   "Author": "Natsume Soseki",
   "Date_of_birth": 1867,
   "Date_of_death": 1916,
   "Reason_of_death": "diabetes",
   "Education": "Tokyo University",
   "Specialization": "English literature",
   "Writing": "Kokoro",
   "Filename": "kokoro.txt",
   "Year": 1914,
   "Style_1": "parnassianism",
   "Main_topic": "modernization",
   "katakana_romaji": "-0.3578712",
   "romaji_kanji": "0.12733756",
   "kanji_katakana": "-0.06882426"
 },
 {
   "Author": "Natsume Soseki",
   "Date_of_birth": 1867,
   "Date_of_death": 1916,
   "Reason_of_death": "diabetes",
   "Education": "Tokyo University",
   "Specialization": "English literature",
   "Writing": "Sorekara",
   "Filename": "sorekara.txt",
   "Year": 1909,
   "Style_1": "parnassianism",
   "Main_topic": "modernization",
   "katakana_romaji": "-0.1397751",
   "romaji_kanji": "-0.2179256",
   "kanji_katakana": "0.0454942"
 },
 {
   "Author": "Natsume Soseki",
   "Date_of_birth": 1867,
   "Date_of_death": 1916,
   "Reason_of_death": "diabetes",
   "Education": "Tokyo University",
   "Specialization": "English literature",
   "Writing": "Rondonto",
   "Filename": "london.txt",
   "Year": 1905,
   "Style_1": "romanticism",
   "Main_topic": "modernization",
   "katakana_romaji": "-0.07993676",
   "romaji_kanji": "-0.78994776",
   "kanji_katakana": "0.6743578"
 },
 {
   "Author": "Natsume Soseki",
   "Date_of_birth": 1867,
   "Date_of_death": 1916,
   "Reason_of_death": "diabetes",
   "Education": "Tokyo University",
   "Specialization": "English literature",
   "Writing": "Bocchan",
   "Filename": "bocchan.txt",
   "Year": 1906,
   "Style_1": "romanticism",
   "Main_topic": "modernization",
   "katakana_romaji": "-0.05653386",
   "romaji_kanji": "-0.21846297",
   "kanji_katakana": "-0.02043906"
 },
 {
   "Author": "Natsume Soseki",
   "Date_of_birth": 1867,
   "Date_of_death": 1916,
   "Reason_of_death": "diabetes",
   "Education": "Tokyo University",
   "Specialization": "English literature",
   "Writing": "Higan sugimade",
   "Filename": "higansugimade.txt",
   "Year": 1912,
   "Style_1": "parnassianism",
   "Main_topic": "modernization",
   "katakana_romaji": "-0.04295145",
   "romaji_kanji": "-0.1409698",
   "kanji_katakana": "0.4117171"
 },
 {
   "Author": "Natsume Soseki",
   "Date_of_birth": 1867,
   "Date_of_death": 1916,
   "Reason_of_death": "diabetes",
   "Education": "Tokyo University",
   "Specialization": "English literature",
   "Writing": "Kusamakura",
   "Filename": "kusamakura.txt",
   "Year": 1906,
   "Style_1": "parnassianism",
   "Main_topic": "modernization",
   "katakana_romaji": "0.1227534",
   "romaji_kanji": "-0.29916",
   "kanji_katakana": "-0.07441757"
 },
 {
   "Author": "Natsume Soseki",
   "Date_of_birth": 1867,
   "Date_of_death": 1916,
   "Reason_of_death": "diabetes",
   "Education": "Tokyo University",
   "Specialization": "English literature",
   "Writing": "Wagahai wa neko dearu",
   "Filename": "wagahaiwa_nekodearu.txt",
   "Year": 1905,
   "Style_1": "romanticism",
   "Main_topic": "modernization",
   "katakana_romaji": "0.1829585",
   "romaji_kanji": "0.291079",
   "kanji_katakana": "0.3525646"
 },
 {
   "Author": "Natsume Soseki",
   "Date_of_birth": 1867,
   "Date_of_death": 1916,
   "Reason_of_death": "diabetes",
   "Education": "Tokyo University",
   "Specialization": "English literature",
   "Writing": "Sanshiro",
   "Filename": "sanshiro.txt",
   "Year": 1908,
   "Style_1": "parnassianism",
   "Main_topic": "modernization",
   "katakana_romaji": "0.3122854",
   "romaji_kanji": "-0.03489241",
   "kanji_katakana": "0.40259969"
 },
 {
   "Author": "Natsume Soseki",
   "Date_of_birth": 1867,
   "Date_of_death": 1916,
   "Reason_of_death": "diabetes",
   "Education": "Tokyo University",
   "Specialization": "English literature",
   "Writing": "Mon",
   "Filename": "mon.txt",
   "Year": 1910,
   "Style_1": "parnassianism",
   "Main_topic": "modernization",
   "katakana_romaji": "0.3914871",
   "romaji_kanji": "0.2217266",
   "kanji_katakana": "0.1807902"
 },
 {
   "Author": "Natsume Soseki",
   "Date_of_birth": 1867,
   "Date_of_death": 1916,
   "Reason_of_death": "diabetes",
   "Education": "Tokyo University",
   "Specialization": "English literature",
   "Writing": "Kojin",
   "Filename": "kojin.txt",
   "Year": 1912,
   "Style_1": "parnassianism",
   "Main_topic": "modernization",
   "katakana_romaji": "0.5705102",
   "romaji_kanji": "0.2060029",
   "kanji_katakana": "0.03965026"
 },
 {
   "Author": "Natsume Soseki",
   "Date_of_birth": 1867,
   "Date_of_death": 1916,
   "Reason_of_death": "diabetes",
   "Education": "Tokyo University",
   "Specialization": "English literature",
   "Writing": "Carlyle_hakubutsukan",
   "Filename": "carlyle_hakubutsukan.txt",
   "Year": 1905,
   "Style_1": "romanticism",
   "Main_topic": "modernization",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "NA"
 },
 {
   "Author": "Natsume Soseki",
   "Date_of_birth": 1867,
   "Date_of_death": 1916,
   "Reason_of_death": "diabetes",
   "Education": "Tokyo University",
   "Specialization": "English literature",
   "Writing": "Nihyakutoka",
   "Filename": "nihyakutoka.txt",
   "Year": 1906,
   "Style_1": "romanticism",
   "Main_topic": "modernization",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "0.8497131"
 },
 {
   "Author": "Natsume Soseki",
   "Date_of_birth": 1867,
   "Date_of_death": 1916,
   "Reason_of_death": "diabetes",
   "Education": "Tokyo University",
   "Specialization": "English literature",
   "Writing": "Gubijinso",
   "Filename": "gubijinso.txt",
   "Year": 1907,
   "Style_1": "parnassianism",
   "Main_topic": "modernization",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "0.06841084"
 },
 {
   "Author": "Natsume Soseki",
   "Date_of_birth": 1867,
   "Date_of_death": 1916,
   "Reason_of_death": "diabetes",
   "Education": "Tokyo University",
   "Specialization": "English literature",
   "Writing": "Kofu",
   "Filename": "kofu.txt",
   "Year": 1908,
   "Style_1": "parnassianism",
   "Main_topic": "modernization",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "0.434785"
 },
 {
   "Author": "Natsume Soseki",
   "Date_of_birth": 1867,
   "Date_of_death": 1916,
   "Reason_of_death": "diabetes",
   "Education": "Tokyo University",
   "Specialization": "English literature",
   "Writing": "Buncho",
   "Filename": "buncho.txt",
   "Year": 1908,
   "Style_1": "parnassianism",
   "Main_topic": "modernization",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "NA"
 },
 {
   "Author": "Natsume Soseki",
   "Date_of_birth": 1867,
   "Date_of_death": 1916,
   "Reason_of_death": "diabetes",
   "Education": "Tokyo University",
   "Specialization": "English literature",
   "Writing": "Yume jyuya",
   "Filename": "yume_juya.txt",
   "Year": 1908,
   "Style_1": "parnassianism",
   "Main_topic": "modernization",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "-0.1763689"
 },
 {
   "Author": "Shimazaki Toson",
   "Date_of_birth": 1872,
   "Date_of_death": 1943,
   "Reason_of_death": "apoplexy",
   "Education": "Meiji Gakuin University",
   "Specialization": "English",
   "Writing": "Ie_02",
   "Filename": "ie_ge.txt",
   "Year": 1910,
   "Style_1": "naturalism",
   "Main_topic": "romanticism",
   "katakana_romaji": "0.051520887",
   "romaji_kanji": "0.004216141",
   "kanji_katakana": "0.172139912"
 },
 {
   "Author": "Shimazaki Toson",
   "Date_of_birth": 1872,
   "Date_of_death": 1943,
   "Reason_of_death": "apoplexy",
   "Education": "Meiji Gakuin University",
   "Specialization": "English",
   "Writing": "Ie_01",
   "Filename": "ie_jyo.txt",
   "Year": 1908,
   "Style_1": "naturalism",
   "Main_topic": "romanticism",
   "katakana_romaji": "0.4056314",
   "romaji_kanji": "0.1161636",
   "kanji_katakana": "-0.02728946"
 },
 {
   "Author": "Shimazaki Toson",
   "Date_of_birth": 1872,
   "Date_of_death": 1943,
   "Reason_of_death": "apoplexy",
   "Education": "Meiji Gakuin University",
   "Specialization": "English",
   "Writing": "Hakai",
   "Filename": "hakai.txt",
   "Year": 1908,
   "Style_1": "naturalism",
   "Main_topic": "romanticism",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "0.5035874"
 },
 {
   "Author": "Shimazaki Toson",
   "Date_of_birth": 1872,
   "Date_of_death": 1943,
   "Reason_of_death": "apoplexy",
   "Education": "Meiji Gakuin University",
   "Specialization": "English",
   "Writing": "Yoake mae_01",
   "Filename": "01yoakemae1_jo.txt",
   "Year": 1929,
   "Style_1": "naturalism",
   "Main_topic": "romanticism",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "0.1283632"
 },
 {
   "Author": "Shimazaki Toson",
   "Date_of_birth": 1872,
   "Date_of_death": 1943,
   "Reason_of_death": "apoplexy",
   "Education": "Meiji Gakuin University",
   "Specialization": "English",
   "Writing": "Yoake mae_02",
   "Filename": "02yoakemae1_ge.txt",
   "Year": 1929,
   "Style_1": "naturalism",
   "Main_topic": "romanticism",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "0.2110687"
 },
 {
   "Author": "Shimazaki Toson",
   "Date_of_birth": 1872,
   "Date_of_death": 1943,
   "Reason_of_death": "apoplexy",
   "Education": "Meiji Gakuin University",
   "Specialization": "English",
   "Writing": "Yoake mae_03",
   "Filename": "03yoakemae2_jo.txt",
   "Year": 1929,
   "Style_1": "naturalism",
   "Main_topic": "romanticism",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "0.5641905"
 },
 {
   "Author": "Shimazaki Toson",
   "Date_of_birth": 1872,
   "Date_of_death": 1943,
   "Reason_of_death": "apoplexy",
   "Education": "Meiji Gakuin University",
   "Specialization": "English",
   "Writing": "Yoake mae_04",
   "Filename": "04yoakemae2_ge.txt",
   "Year": 1929,
   "Style_1": "naturalism",
   "Main_topic": "romanticism",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "0.2508865"
 },
 {
   "Author": "Tanizaki Junichiro",
   "Date_of_birth": 1886,
   "Date_of_death": 1965,
   "Reason_of_death": "heart failure",
   "Education": "Tokyo University",
   "Specialization": "Japanese literature",
   "Writing": "Shonen",
   "Filename": "shonen.txt",
   "Year": 1911,
   "Style_1": "aestheticism",
   "Main_topic": "femme-fatal",
   "katakana_romaji": "-0.3823596",
   "romaji_kanji": "-0.3162278",
   "kanji_katakana": "0.4836508"
 },
 {
   "Author": "Tanizaki Junichiro",
   "Date_of_birth": 1886,
   "Date_of_death": 1965,
   "Reason_of_death": "heart failure",
   "Education": "Tokyo University",
   "Specialization": "Japanese literature",
   "Writing": "Chijin no ai",
   "Filename": "chijinno_ai.txt",
   "Year": 1924,
   "Style_1": "satanism",
   "Main_topic": "women's beauty, sado-masochism",
   "katakana_romaji": "0.2395547",
   "romaji_kanji": "-0.2237263",
   "kanji_katakana": "0.4482855"
 },
 {
   "Author": "Tanizaki Junichiro",
   "Date_of_birth": 1886,
   "Date_of_death": 1965,
   "Reason_of_death": "heart failure",
   "Education": "Tokyo University",
   "Specialization": "Japanese literature",
   "Writing": "Manji",
   "Filename": "manji.txt",
   "Year": 1928,
   "Style_1": "aestheticism",
   "Main_topic": "bisexual love",
   "katakana_romaji": "0.6596482",
   "romaji_kanji": "0.8632595",
   "kanji_katakana": "0.5302731"
 },
 {
   "Author": "Tanizaki Junichiro",
   "Date_of_birth": 1886,
   "Date_of_death": 1965,
   "Reason_of_death": "heart failure",
   "Education": "Tokyo University",
   "Specialization": "Japanese literature",
   "Writing": "Shisei",
   "Filename": "shisei.txt",
   "Year": 1910,
   "Style_1": "aestheticism",
   "Main_topic": "women's beauty",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "NA"
 },
 {
   "Author": "Tanizaki Junichiro",
   "Date_of_birth": 1886,
   "Date_of_death": 1965,
   "Reason_of_death": "heart failure",
   "Education": "Tokyo University",
   "Specialization": "Japanese literature",
   "Writing": "Tade kuu mushi",
   "Filename": "tade_ku_mushi.txt",
   "Year": 1928,
   "Style_1": "aestheticism",
   "Main_topic": "east and west",
   "katakana_romaji": "NA",
   "romaji_kanji": "NA",
   "kanji_katakana": "0.3211693"
 },
 {
   "Author": "Tayama Katai",
   "Date_of_birth": 1872,
   "Date_of_death": 1930,
   "Reason_of_death": "cancer",
   "Education": "School of Chinese classics",
   "Specialization": "Chinese",
   "Writing": "Juemon no saigo",
   "Filename": "juemonno_saigo.txt",
   "Year": 1902,
   "Style_1": "naturalism",
   "Main_topic": "I-novel",
   "katakana_romaji": "-0.1644297",
   "romaji_kanji": "-0.3045889",
   "kanji_katakana": "0.01351136"
 },
 {
   "Author": "Tayama Katai",
   "Date_of_birth": 1872,
   "Date_of_death": 1930,
   "Reason_of_death": "cancer",
   "Education": "School of Chinese classics",
   "Specialization": "Chinese",
   "Writing": "Futon",
   "Filename": "futon.txt",
   "Year": 1907,
   "Style_1": "naturalism",
   "Main_topic": "I-novel",
   "katakana_romaji": "0.08402413",
   "romaji_kanji": "-0.03545148",
   "kanji_katakana": "0.86726628"
 },
 {
   "Author": "Tayama Katai",
   "Date_of_birth": 1872,
   "Date_of_death": 1930,
   "Reason_of_death": "cancer",
   "Education": "School of Chinese classics",
   "Specialization": "Chinese",
   "Writing": "Inaka kyoshi",
   "Filename": "inaka_kyoshi.txt",
   "Year": 1909,
   "Style_1": "naturalism",
   "Main_topic": "I-novel",
   "katakana_romaji": "0.3780751",
   "romaji_kanji": "0.2709686",
   "kanji_katakana": "0.1918803"
 }
]

function createTableCell(text) {
    var cell = document.createElement('td');
    var cellText = document.createElement('span');
    cellText.innerText = text;
    cell.appendChild(cellText);

    return cell
}

function submitAuthor() {

    var input = document.getElementById('authorInput');
    var tbody = document.getElementById("bookTableBody")

    tbody.innerHTML = "";

    var selection = correlation.filter(
        book => book.Author.includes(input.value)
    )

    selection.forEach(book => {
        var row = document.createElement("tr");
        row.appendChild(createTableCell(book.Author));
        row.appendChild(createTableCell(book.Writing));
        row.appendChild(createTableCell(book.katakana_romaji));
        row.appendChild(createTableCell(book.romaji_kanji));
        row.appendChild(createTableCell(book.kanji_katakana));

        tbody.appendChild(row);
    });
}

    </script>

  </head>
  <body>
    <h1>Database</h1>
    <br>
    <h3>Enter author's name and get correlations on the writing</h3>
    <br>

      <form class="form-inline my-2 my-lg-0" onsubmit="submitAuthor(); return false">
        <input class="form-control mr-sm-2" type="text" id="authorInput" placeholder="Author" aria-label="Search">
        <input class="btn btn-outline-success my-2 my-sm-0" type="submit" />
      </form>

      <div id="bookList">
          <table id="bookTable" class="table">
            <thead>
                <tr>
                  <th scope="col">Author</th>
                  <th scope="col">Writing</th>
                  <th scope="col">Katakana-Romaji</th>
                  <th scope="col">Romaji-Kanji</th>
                  <th scope="col">Kanji-Katakana</th>
                </tr>
              </thead>
              <tbody id="bookTableBody">
              </tbody>
          </table>
      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{% endblock %}